.categoryPage{
  border: 1px solid transparent;
  height: auto;
}

.allCategoriesHeading{
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  width: 400px;
  height: 60px;
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  /* display: inline-block; */
  /* margin: 15px; */
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}
.allCategoriesHeading > h2 {
  margin: auto;
  margin-top: 10px;
  color: white;
  /* color: red; */
}

.categoriesListContainer{
  border: 1px solid gray;
  height: 50px;
  width: 750px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  border-radius: 10px;
}
.categoriesListContainer > li{
  /* color: blue; */
  font-size: 18px;
  padding-top: 10px;
  cursor: pointer;
}

.buttonsContainer{
 /* border: 1px solid green; */
 margin-left: auto;
 /* margin-right: 20px; */
 display: flex;
 justify-content: space-between;
 width: 160px;
 padding-top: 10px;
}
.categoryCrudButtons{
  /* z-index: 999; */
  width: 60px;
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  color: white;
  margin: 0px auto;
}

.addCategory{
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  position: fixed;
  right: 65px;
  bottom: 40px;
  border: 1px solid transparent;
  border-radius: 45px;
  height: 60px;
  width: 65px;
  /* margin-top: 100px; */
  padding-top: 10px;
  padding-left: 15px;
  cursor: pointer;
}
.addCategory:hover {
  opacity: 0.7;
}
/* .loader{
  background: radial-gradient(white, #00bcd4) no-repeat;
  position: absolute;
  top: 0px;
  z-index: 100000;
   height: 100%;
   width: 100vh;
  border: 1px solid; 
} */
.spinner{
  /* border: 1px solid green; */
  margin: auto;
  margin-top: 200px;
}