<!-- <p>
  dashboard-content works!
</p> -->
<div class="dashboard-content">

  <div class="dashboard-content-first-row">

    <mat-card class="dashboard-content-card-1">
      <mat-card-title>Orders</mat-card-title>
      <mat-card-content>
        admin dashboard content goes here
      </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-content-card-2">
      <mat-card-title>Orders</mat-card-title>
      <mat-card-content>
        admin dashboard content goes here
      </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-content-card-3">
      <mat-card-title>Orders</mat-card-title>
      <mat-card-content>
        admin dashboard content goes here
      </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-content-card-4">
      <mat-card-title>Orders</mat-card-title>
      <mat-card-content>
        admin dashboard content goes here
      </mat-card-content>
    </mat-card>

  </div>

  <div class="dashboard-content-second-row">

      <mat-card class="dashboard-content-second-row-card">
          <mat-card-title>Orders</mat-card-title>
          <mat-card-content>
              <img class="card-img" src="./../../assets/images/card-data.png" alt="card data" />
          </mat-card-content>
      </mat-card>
      <mat-card class="dashboard-content-second-row-card">
          <mat-card-title>Orders</mat-card-title>
          <mat-card-content>
            <img class="card-img2" src="./../../assets/images/card-data2.png" alt="card data" />
          </mat-card-content>
      </mat-card>

  </div>
  
  
</div>
