.dashboard-content{
    /* display: flex; */
    padding-top: 25px;
    padding-left: 20px;
}

.dashboard-content-first-row{
    display: flex;
    /* border: 1px solid; */
    margin: 10px;
}

.dashboard-content-card-1{
    margin-right: 20px;
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}
.dashboard-content-card-2{
    margin-right: 20px;
    background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
}
.dashboard-content-card-3{
    margin-right: 20px;
    background: linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
}
.dashboard-content-card-4{
    margin-right: 20px;
    background: linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
}

.dashboard-content-second-row{
    height: 400px;
    display: flex;
    /* border: 1px solid; */
}

.dashboard-content-second-row-card{
    margin-right: 20px;
}