<!-- <p>
  body works!
</p> -->
<div class="body">

  <div class="buttons-container">
    <!-- <button routerLink="/login" class="button">Login</button>
    <button routerLink="/signup" class="button">Signup</button> -->
    <button routerLink="/login" mat-raised-button color="primary">Login</button>
    <button routerLink="/signup" mat-raised-button color="primary">Signup</button>

    <!-- <button class="mat-btn" mat-fab color="primary">Login</button>
    <button class="mat-btn" mat-fab color="primary">Signup</button> -->
  </div>

</div>
