<div class="categoryPage">

  <div>
    <div class="allCategoriesHeading">
        <h2> All Categories:</h2>
    </div>
    <h2 class="allCategoriesHeading2"> *Click on any category to see its foods*</h2>
    <ul (click)="clickOnCategory($event,category,i)" class="categoriesListContainer" *ngFor="let category of dummyCategoriesArray; index as i">

    <li> {{category.name}}</li>
    <div class="buttonsContainer">
      <!-- <button (click)="editCategory(category,i)" class="categoryCrudButtons">Edit</button> -->
      <button (click)="deleteCategory(category,i)" class="categoryCrudButtons">Delete</button>
    </div>
    
  </ul>
  </div>
  <div class="loader" *ngIf="isLoader">
    <!-- <div class="side-logo">
        <mat-icon class="brandIcon">local_dining</mat-icon>
        <h1>Foodistan</h1>
    </div> -->
    <mat-spinner class="spinner"></mat-spinner>
  </div>
  <div class="emptyData" *ngIf="isArrayEmpty">
      <p> No Data! </p>
  </div>
  
  <div (click)="addCategory()" class="addCategory">
    <img src="./../../assets/images/add.png" alt="card data" />
  </div>
</div>


