.restaurantListPage{
  border: 1px solid transparent;
  height: auto;
}

.allRestaurantsHeading{
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  width: 400px;
  height: 60px;
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  /* display: inline-block; */
  /* margin: 15px; */
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}
.allRestaurantsHeading > h2 {
  margin: auto;
  margin-top: 10px;
  color: white;
  /* color: red; */
}
.restaurantsCardsholder{
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.restaurantsListContainer{
  /* border: 1px solid red; */
  width: 400px;
  margin: auto;
  margin-top: 20px;
}
.mat-card:not([class*=mat-elevation-z]){
  border: 1px solid #0288d1;
}

/* .restaurantsListContainer{
  border: 1px solid gray;
  height: 50px;
  width: 750px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  border-radius: 10px;
} */
.restaurantsListContainer > li{
  /* color: blue; */
  font-size: 18px;
  padding-top: 10px;
  cursor: pointer;
}
mat-card-title{
  /* border: 1px solid red; */
  /* text-align: center; */
}
.crudButtons{
  /* border: 1px solid green; */
  width: 150px;
  display: flex;
  /* text-align: right; */
}
 
.deleteButton{
  width: 60px;
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  color: white;
  margin-right: 10px;
  /* margin: 0px auto; */
}

.addRestaurant{
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  position: fixed;
  right: 65px;
  bottom: 40px;
  border: 1px solid transparent;
  border-radius: 45px;
  height: 60px;
  width: 65px;
  /* margin-top: 100px; */
  padding-top: 10px;
  padding-left: 15px;
  cursor: pointer;
}
.addRestaurant:hover {
  opacity: 0.7;
}
.deleteloader{
  /* border: 1px solid red; */
  position: absolute;
  left: 230px;
  top: 50px;
  height: 130px;
  width: 150px;
}
.deleteSpinner{
  height: 30px;
}
.spinner{
  /* border: 1px solid green; */
  margin: auto;
  margin-top: 200px;
}
.emptyData {
  /* border: 1px solid red; */
  width: 500px;
  height: 100px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}