.orderPage{
  /* border: 1px solid red; */
  /* width: 100%; */
  /* display: flex; */
}
.ordersContainer{
  /* border: 3px solid green; */
  /* width: 1255px; */
  /* height: auto; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.orderCard{
  border: 1px solid #0288d1;
  width: 400px;
  height: 330px;
  /* margin: auto; */
  margin-top: 40px;
  margin-left: 20px;
  /* display: flex; */
  /* float: left; */
}
.header{
  border: 1px solid transparent;
  text-align: center;
}
.cardTitle{
  border: 1px solid transparent;
  margin: auto;
  margin-left: 80px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.orderCardContent{
  border: 1px solid transparent;
  margin-top: 15px;
}
.orderCardFooter{
  /* border: 1px solid red; */
 
}
label{
  /* border: 1px solid red; */
  margin-right: 5px;  
}
.spinner{
  /* border: 1px solid green; */
  /* margin: auto; */
  margin-top: 200px;
  margin-left: 500px;
}
.crudButtons{
  /* border: 1px solid blue; */
  width: 210px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.deliveredButton{
  width: 60px;
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  color: white;
}
.deleteButton{
  width: 60px;
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  color: white;
  /* margin-right: 10px; */
}