
/* .login-page{
  height: 100vh;
  background: linear-gradient(white, #00bcd4) no-repeat;
  padding-top: 90px;
}
.login-form-container {
  width: 310px;
  height: 470px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-fields{
  height: 130px;
  border: 1px solid;
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  padding-left: 20px;
}

input.mat-input-element{
  margin-left: 12px;
}

.form-fields > *{
  width: 200px;
}

.login-button{
  width: 170px;
  position: absolute;
  bottom: 130px;
  left: 65px;
  background: #4CAF50;
  background: #00bcd4;
  border-radius: 10px;
}

.login-button:hover{
  background: #4CAF50;
}

.form-heading{
  border: 1px solid;
  text-align: center;
  position: absolute;
  left: 70px;
  top: 35px;
}

.links{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  height: 50px;
  width: 260px;
  border: 1px solid;
  position: absolute;
  bottom: 10px;
}

.links > *{
  color: #00bcd4;
} */

/* ******* */

/* mat-form-field{
  color: #00bcd4;
}
.mat-input-ripple{
  background: red !important;
} */



/*  ************** New changes ******************* */



.addRestaurantPage{
  border: 1px solid transparent;
  height: 91vh;
  width: 100%;
}

.addRestaurantCard{
  border: 1px solid #0288d1;
  width: 400px;
  height: auto;
  margin: 0px auto;
  margin-top: 40px;
}
.example-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.example-container > * {
  /* width: 100%; */
}
mat-card-title{
  /* border: 1px solid green; */
  text-align: center;
  margin-bottom: 40px;
}
mat-form-field{
  /* border: 1px solid green; */
  margin-left: 50px;
  margin-bottom: 10px;
}

.submit-button{
  background: linear-gradient(45deg, #00AEFF 50%, #3369E6 100%);
  border-radius: 10px;
  width: 100px;
  color: white;
  align-self: center;
  margin-left: 90px;
  margin-top: 10px;
}

.chooseFileButton{
  /* border: 1px solid red; */
  margin-left: 45px;
  margin-top: 10px;
}