.profilePage{
    border: 1px solid transparent;
    height: 100%;
}
.example-card {
    max-width: 400px;
    margin: 10px auto;
  }
  
.example-header-image {
    background-image: url("./../../assets/images/profilepic.png");
    background-size: cover;
  }
  
