.profilePage{
    border: 1px solid transparent;
    height: 100%;
}
.example-card {
    max-width: 400px;
    margin: 30px auto;
  }
  
.example-header-image {
    background-image: url("./../../assets/images/profilepic.png");
    background-size: cover;
  }
  
  .loader{
    /* border: 1px solid red; */
    z-index: 999;position: absolute;
    left: 170px;
    top: 210px;

  }
