.categoryPage{
  border: 1px solid transparent;
  height: auto;
}

.allCategoriesHeading{
  /* border: 1px solid; */
  display: inline-block;
  margin: 15px;
  margin-left: 280px;
}

.categoriesListContainer{
  border: 1px solid gray;
  height: 50px;
  width: 750px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  border-radius: 10px;
}
.categoriesListContainer > li{
  /* color: blue; */
  font-size: 18px;
  padding-top: 10px;
  cursor: pointer;
}

.buttonsContainer{
 /* border: 1px solid green; */
 margin-left: auto;
 /* margin-right: 20px; */
 display: flex;
 justify-content: space-between;
 width: 120px;
 padding-top: 10px;
}
.categoryCrudButtons{
  width: 60px;
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  color: white;
  margin: 0px auto;
}

.addCategory{
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  position: fixed;
  right: 65px;
  bottom: 40px;
  border: 1px solid transparent;
  border-radius: 45px;
  height: 60px;
  width: 65px;
  /* margin-top: 100px; */
  padding-top: 10px;
  padding-left: 15px;
  cursor: pointer;
}
.addCategory:hover {
  opacity: 0.7;
}
.spinner{
  /* border: 1px solid green; */
  margin: auto;
  margin-top: 200px;
}
.emptyData {
  /* border: 1px solid red; */
  width: 500px;
  height: 100px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.foodCardsHolder{
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.foodCard{
  /* border: 1px solid red; */
  border: 1px solid #0288d1;
  width: 400px;
  /* height: 330px; */
  margin: auto;
  margin-top: 20px;
}
.cardTitle{
  border: 1px solid transparent;
  margin: auto;
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.orderCardContent{
  border: 1px solid transparent;
  margin-top: 15px;
  height: 140px;
}
.crudButtons{
  /* border: 1px solid; */
  width: 210px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  /* justify-content: space-between; */
}
.deleteButton{
  width: 80px;
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  color: white;
  margin-right: 10px;
  /* margin: 0px auto; */
}