
<div class="login-page">

    <mat-card class="login-form-container">
   
        <h3 class="form-heading"> Signup Form</h3>
        <div class="form-fields">
            <mat-form-field>
                <input name="email" [(ngModel)]="input.email" matInput placeholder=" &nbsp; &nbsp;Email">
                <mat-icon matPrefix>face</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-icon matPrefix>lock</mat-icon>
                <input name="password" [(ngModel)]="input.password" matInput placeholder="&nbsp; &nbsp;Password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            
            </mat-form-field>          
        </div>

        <button class="login-button" (click)="postData()" mat-raised-button>SignUp</button>
        <!-- <button (click)="getData()" mat-raised-button>get Data</button> -->

        <div class="links">
            <a routerLink="/login">Already have an account?</a>
            <!-- <a>Forgot Password?</a> -->
        </div>
    </mat-card>

</div>
