<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Foodistan</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about"> About </a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Restaurants List <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Born Bistro</a></li>
          <li><a href="#">Moos and Clucks</a></li>
          <li><a href="#">Burger Lab</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> -->
<!-- <p> hello world</p> -->

<!-- ****************************************************8 -->


<mat-toolbar>
  <!-- <button mat-raised-button color="accent">Foodistan</button> -->
  <!-- <button type="button" mat-raised-button color="primary" (click)="sidenav.open()">
      Open Sidenav
  </button> -->
  <div class="brand-logo">
    <mat-icon>local_dining</mat-icon>
    <h1>Foodistan</h1>
  </div>
  <mat-icon class="toggle-icon" (click)="sidenav.toggle()">menu</mat-icon>
  <span class="spacer"></span>
  <button class="btn-spacing" mat-raised-button >About</button>
  <button class="btn-spacing" mat-raised-button >Home</button>
  <button class="btn-spacing" mat-raised-button [matMenuTriggerFor]="restaurantsList">Restaurants</button>
  <mat-menu #restaurantsList="matMenu">
    <button mat-menu-item>
      <mat-icon>local_dining</mat-icon>
      <span>Moos & Clucks</span>
    </button>
    <button mat-menu-item>
      <mat-icon>local_dining</mat-icon>
      <span>Born Bistro</span>
    </button>
    <button mat-menu-item>
      <mat-icon>local_dining</mat-icon>
      <span>Food Delight</span>
    </button>
  </mat-menu>
  <!-- <mat-icon class="btn-spacing">settings_input_antenna</mat-icon> -->
  <div class="dropdown">
    <a href="#"><mat-icon class="btn-spacing md-36">person</mat-icon></a>
    <div class="dropdown-content">
      <a href="#">My Profile</a>
      <a href="#">Settings</a>
      <a href="#">Log out</a>
    </div>
  </div>  
</mat-toolbar>