
<!-- <mat-card class="demo-panel">
  <mat-card-title>
    Material sidebar
  </mat-card-title>
  <mat-card-content> -->
      
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
        <mat-nav-list class="side-logo">
          <!-- <h1>Logo</h1> -->
          <mat-icon class="brandIcon">local_dining</mat-icon>
          <h1>Foodistan</h1>
        </mat-nav-list> 
        <mat-nav-list class="side-nav-list">
          <div routerLink="/admin-dashboard/adminprofile" class="navListContainer">
              <img class="navListImage" src="./../../assets/images/man-user.png" alt="card data" />
              <p>My Profile</p>
          </div>
        </mat-nav-list>  
        <mat-nav-list *ngIf="isUserRoleAdmin" class="side-nav-list">
            <div routerLink="/admin-dashboard/restaurantslist" class="navListContainer1">
                <img class="navListImage" src="./../../assets/images/plate-fork-and-knife.png" alt="card data" />
                <p>Restaurants List</p>
            </div>
        </mat-nav-list>
        <mat-nav-list *ngIf="isUserRoleAdmin" class="side-nav-list">
          <div routerLink="signup" class="navListContainer2">
              <img class="navListImage" src="./../../assets/images/plus-sign-in-a-black-circle.png" alt="card data" />
              <p>Add User</p>
          </div>
        </mat-nav-list>  
        <mat-nav-list class="side-nav-list">
          <div routerLink="allcategories" class="navListContainer2">
              <img class="navListImage" src="./../../assets/images/plus-sign-in-a-black-circle.png" alt="card data" />
              <p> All Categories</p>
          </div>
        </mat-nav-list>
        <mat-nav-list class="side-nav-list">
          <div routerLink="food" class="navListContainer2-2">
              <img class="navListImage" src="./../../assets/images/get-money.png" alt="card data" />
              <p>All Food</p>
          </div>
        </mat-nav-list>
        <mat-nav-list class="side-nav-list">
            <div routerLink="itemsofeachfood" class="navListContainer3">
                <img class="navListImage" src="./../../assets/images/verified-commercial-list.png" alt="card data" />
                <p>Items of each Food</p>
            </div>
        </mat-nav-list>
        <mat-nav-list class="side-nav-list">
            <div routerLink="category" class="navListContainer4">
                <img class="navListImage" src="./../../assets/images/maintenance.png" alt="card data" />
                <p>Category wise Food</p>
            </div>
        </mat-nav-list>  
      </mat-sidenav>

      <!-- <mat-sidenav-content>
        <p>hello world</p>
      </mat-sidenav-content> -->
      <!-- <mat-sidenav #sidenav class="example-sidenav" mode="push">
          Second Sidenav content goes here
      </mat-sidenav> -->

      <app-nav-bar [sidenav]="sidenav"></app-nav-bar>

      <div class="example-sidenav-content">
        <router-outlet></router-outlet>
          <!-- <app-dashboard-content></app-dashboard-content> -->
      </div>
      <!-- <ng-content></ng-content> -->
    </mat-sidenav-container>
  <!-- </mat-card-content>
</mat-card> -->

<!-- *************************************************** -->


