<div class="addCategoryPage">
<mat-card class="addCategoryCard">
  <mat-card-title class="cardTitle">
    Add New Category
  </mat-card-title>
  <mat-card-content>
    <br>
    <div class="example-container">
        <mat-form-field>
          <input [(ngModel)]="input.name" (keyup.enter)="addCategory()" matInput placeholder="Enter Category Name">
        </mat-form-field>
        
        <button class="submit-button mat-raised-button" (click)="addCategory()">Submit</button>

    </div>
  </mat-card-content>
</mat-card>
<div class="loader" *ngIf="isLoader">
    <!-- <div class="side-logo">
        <mat-icon class="brandIcon">local_dining</mat-icon>
        <h1>Foodistan</h1>
    </div> -->
    <mat-spinner class="spinner"></mat-spinner>
</div>
</div>