/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import 'node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css'; */

.navbar{
    margin-bottom: 0px !important;
}
/* body{
    margin-top: 3.3%;
} */

.mat-progress-spinner circle, .mat-spinner circle{
    stroke: #0288d1;
  }